@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/BoldItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/BlackItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Bold.woff2') format('woff2'), url('/fonts/BarlowCondensed/Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Black.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/LightItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/ExtraLight.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Italic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Medium.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Regular.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/SemiBold.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/ThinItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Light.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/MediumItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/Thin.woff2') format('woff2'), url('/fonts/BarlowCondensed/Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/ExtraBold.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed/SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/BarlowCondensed/SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DotGothic16';
  src: url('/fonts/DotGothic16/Regular.woff2') format('woff2'), url('/fonts/DotGothic16/Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Zen Dots';
  src: url('/fonts/ZenDots/Regular.woff2') format('woff2'), url('/fonts/ZenDots/Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
