<script lang="ts">
  import ClassGroup from 'classgroup';

  // Self Props
  export let displayVertical = true;
  export let min;
  export let max;
  export let param;
  export let step;
  export let value;

  const tw = ClassGroup({
    label: {
      a: 'text-xs block',
      l: 'flex flex-col items-center space-y-2',
      d: displayVertical ? 'h-44' : 'w-44',
    },
    textInput: {
      a: 'border rounded-sm text-xs text-center', // appearance-none
      l: 'h-5 w-7',
    },
    rangeInputWrapper: {
      l: 'flex items-center',
      t: displayVertical ? 'h-32 rotate-[-90deg]' : '',
    },
    rangeInput: {
      name: 'synthParam',
      a: 'appearance-none bg-gray-700 rounded-sm',
      l: 'h-6 w-32',
      o: 'focus:outline-none',
    },
  });
</script>

<label class={tw.label} for={param}>
  <input class={tw.textInput} type="text" name={param} id={param} bind:value />
  <div class={tw.rangeInputWrapper}>
    <input
      class={tw.rangeInput}
      id={param}
      name={param}
      type="range"
      {min}
      {max}
      {step}
      bind:value
      on:change
    />
  </div>
  <slot />
</label>

<style>
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input.synthParam::-webkit-slider-thumb {
      appearance: none;
      background-color: #fff;
      cursor: ns-resize;
      height: 1.5rem;
      width: 0.25rem;
      -webkit-appearance: none;
    }
  }
</style>
