<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  const { synth } = getContext(MainCtx);

  // Synth Controls
  import Slider from '../synthUi/Slider.svelte';

  export let detune;
  export let harmonicity;
  export let portamento;
  export let vibratoAmount;
  export let vibratoRate;
  export let voice0;
  export let voice1;
  export let volume;

  $: _detune = detune;
  $: _volume = volume;

  const tw = ClassGroup({
    section: 'flex h-full overflow-auto items-start space-x-4',
    slot: {
      a: 'border border-gray-200 rounded-sm',
      i: 'hover:bg-gray-200',
      l: 'overflow-hidden w-10 py-2',
      t: 'transition-colors',
    },
    sliderLabel: {
      l: 'block',
    },
  });
</script>

<!-- <pre>detune: {detune}</pre>
<pre>harmonicity: {harmonicity}</pre>
<pre>portamento: {portamento}</pre>
<pre>vibratoAmount: {vibratoAmount}</pre>
<pre>vibratoRate: {vibratoRate}</pre>
<pre>voice0: {JSON.stringify(voice0, null, 4)}</pre>
<pre>voice1: {JSON.stringify(voice1, null, 4)}</pre>
<pre>volume: {volume}</pre> -->

<section class={tw.section}>
  <div class={tw.slot}>
    <Slider
      bind:detune={_detune}
      param="detune"
      min="-1000"
      max="1000"
      step="5"
      value="0"
      on:change={(event) => {
        $synth.instrument.detune.value = detune = event.target.value;
      }}
    >
      <span class={tw.sliderLabel}>Detune</span>
    </Slider>
  </div>

  <div class={tw.slot}>
    <Slider
      bind:volume={_volume}
      param="volume"
      min="-70"
      max="6"
      step="0.1"
      value="0"
      on:change={(event) => {
        $synth.instrument.volume.value = volume = event.target.value;
      }}
    >
      <span class={tw.sliderLabel}>Volume</span>
    </Slider>
  </div>
</section>
