<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  const { synth } = getContext(MainCtx);

  // Synth Controls
  import Slider from '../synthUi/Slider.svelte';

  export let attackNoise;
  export let dampening;
  export let release;
  export let resonance;
  export let volume;

  $: _volume = volume;

  const tw = ClassGroup({
    section: 'flex h-full overflow-auto items-start space-x-4',
    slot: {
      a: 'border border-gray-200 rounded-sm',
      i: 'hover:bg-gray-200',
      l: 'overflow-hidden w-10 py-2',
      t: 'transition-colors',
    },
    sliderLabel: {
      l: 'block',
    },
  });
</script>

<!--
<pre>attackNoise: {attackNoise}</pre>
<pre>dampening: {dampening}</pre>
<pre>release: {release}</pre>
<pre>resonance: {resonance}</pre>
<pre>volume: {volume}</pre> -->

<section class={tw.section}>
  <div class={tw.slot}>
    <Slider
      bind:volume={_volume}
      param="volume"
      min="-70"
      max="6"
      step="0.1"
      value="0"
      on:change={(event) => {
        $synth.instrument.volume.value = volume = event.target.value;
      }}
    >
      <span class={tw.sliderLabel}>Volume</span>
    </Slider>
  </div>
</section>
