<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from './Main.svelte';
  const { mode } = getContext(MainCtx);

  // Components
  import PianoRoll from './PianoRoll.svelte';
  import Sequencer from './Sequencer.svelte';
  import Synthesizer from './Synthesizer.svelte';

  $: visible = $mode === 'sequencer';

  const tw = ClassGroup({
    container: 'flex flex-col h-full w-full overflow-x-scroll',
  });
</script>

<div class={tw.container}>
  <Sequencer {visible} />
  <Synthesizer visible={!visible} />
  <PianoRoll />
</div>
