<script>
  import ClassGroup from 'classgroup';

  // Components
  import Gain from './seqControls/Gain.svelte';
  import Mode from './seqControls/Mode.svelte';

  const tw = ClassGroup({
    header: {
      l: 'flex items-center px-4 py-1.5',
      p: 'border-b-2 border-gray-300',
    },
    logo: 'h-5 mr-2 text-black w-5',
    title: {
      l: 'mr-4',
      d: 'font-heading',
      text: 'text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-red-600',
    },
    controls: 'flex space-x-4',
  });
</script>

<header class={tw.header}>
  <!-- <svg class={tw.logo}>
    <use xlink:href="/icons.svg#synthesizer" xmlns:xlink="http://www.w3.org/1999/xlink" />
  </svg> -->
  <h1 class={tw.title}>ToneSynth</h1>

  <div class={tw.controls}>
    <Mode />
    <Gain />
  </div>
</header>
