<script>
  import * as Tone from 'tone';
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Components
  import { UI } from '../library/utils';

  // Stores
  import activeNote from '../library/stores/activeNote';

  // Context
  import { MainCtx } from './Main.svelte';
  const { synth } = getContext(MainCtx);

  // Self props
  export let note;
  export let isOn = false;
  export let isMap = false;
  export let mapActiveZone = false;

  activeNote.subscribe((activeNote) => {
    isOn = note === Tone.Frequency(activeNote?.frequency).toNote() ? true : false;
  });

  const tw = ClassGroup({
    key: {
      l: 'relative h-full w-full',
      p: 'border-r border-black last:border-r-0',
      o: UI.noOutline,
    },
    keyColor: note.includes('#') ? 'bg-black' : 'bg-white',
    keyActive: {
      l: 'block h-full w-full',
      p: 'bg-red-500 bg-opacity-25',
    },
  });
</script>

<!-- Piano Roll -->
{#if !isMap}
  <button
    id={note}
    class="{tw.key} {tw.keyColor}"
    on:mousedown={() => {
      $synth.instrument.triggerAttack(note);
      isOn = true;
    }}
    on:mouseup={() => {
      $synth.instrument.triggerRelease();
      isOn = false;
    }}
  >
    {#if isOn}
      <span class={tw.keyActive} />
    {/if}
  </button>
{/if}

<!-- Octaves Map -->
{#if isMap && !note.includes('P')}
  <div id={note} class="{tw.key} {tw.keyColor}">
    {#if mapActiveZone || isOn}
      <span class={tw.keyActive} />
    {/if}
  </div>
{/if}
