<script context="module">
  export const MainCtx = {};
</script>

<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { setContext } from 'svelte';
  import { writable } from 'svelte/store';

  // Config
  import Config from '../library/Config';

  // Components
  import Board from './Board.svelte';
  import Header from './Header.svelte';
  import Synth from '../library/Synth';

  const state = {
    gain: localStorage.getItem('gain') || Config.gain,
    mode: localStorage.getItem('mode') || Config.mode,
    octave: localStorage.getItem('octave') || Config.octave,
    steps: localStorage.getItem('steps') || Config.steps,
    stepsPage: localStorage.getItem('stepsPage') || Config.stepsPage,
    synthType: localStorage.getItem('synthType') || Config.synthType,
  };

  // Synth
  const synth = writable(new Synth());

  // Controls
  const gain = $synth.setGain(state.gain);
  localStorage.setItem('gain', state.gain);

  const mode = writable(state.mode);
  localStorage.setItem('mode', state.mode);

  const octave = writable(Number(state.octave));
  localStorage.setItem('octave', Number(state.octave));

  const steps = writable(state.steps);
  localStorage.setItem('steps', state.steps);

  const stepsPage = writable(state.stepsPage);
  localStorage.setItem('stepsPage', state.stepsPage);

  const synthType = writable(state.synthType);
  localStorage.setItem('synthType', state.synthType);

  setContext(MainCtx, {
    gain,
    mode,
    octave,
    steps,
    stepsPage,
    synth,
    synthType,
  });

  const tw = ClassGroup({
    section: {
      l: 'flex flex-col h-screen',
      p: 'bg-gray-50',
    },
  });
</script>

<section class={tw.section}>
  <Header />
  <Board />
</section>
