<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Config
  import Config from '../library/Config';

  // Context
  import { MainCtx } from './Main.svelte';
  const { octave } = getContext(MainCtx);

  // Components
  import Key from './Key.svelte';
  import Octave from './seqControls/Octave.svelte';

  let activeKeys = new Set();

  const tw = ClassGroup({
    container: {
      l: 'flex flex-col h-32 p-2 w-full',
    },
    octavesContainer: 'flex items-center mb-2',
    pianoRoll: {
      l: 'flex h-full w-full',
      p: 'border border-black',
    },
    pianoMap: {
      l: 'flex h-8 mx-auto w-4/5',
      p: 'border border-black',
    },
    controls: 'flex items-center justify-center text-xs h-full w-[10%]',
  });
</script>

<section class={tw.container}>
  <!-- Octaves Control -->
  <div class={tw.octavesContainer}>
    <div class={tw.controls}>OCTAVE</div>
    <div class={tw.pianoMap}>
      {#each Config.allNotes as note}
        <Key
          isMap={true}
          {note}
          mapActiveZone={$octave === Number(note.replace(/^\D+/g, '')) ||
            (note.charAt(0) === 'C' && Number(note.replace(/^\D+/g, '')) === $octave + 1)}
        />
      {/each}
    </div>
    <div class={tw.controls}>
      <Octave />
    </div>
  </div>

  <!-- Piano Roll -->
  <div class={tw.pianoRoll}>
    {#each Config.allNotes as note}
      {#if $octave === Number(note.replace(/^\D+/g, ''))}
        <Key {note} isOn={activeKeys.has(note)} />

        {#if note.charAt(0) === 'B'}
          <Key note={`C${Number(note.replace(/^\D+/g, '')) + 1}`} isOn={activeKeys.has(note)} />
        {/if}
      {/if}
    {/each}
  </div>
</section>
