<script>
  import * as Tone from 'tone';
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Config
  import Config from '../library/Config';

  // Context
  import { MainCtx } from './Main.svelte';
  let { octave, steps, synth } = getContext(MainCtx);

  // Components
  import SequencerControls from './seqControls/SeqControls.svelte';
  import Track from './Track.svelte';

  // Self props
  export let visible;

  let sequencerData = localStorage.getItem('SequencerData') ? JSON.parse(localStorage.getItem('SequencerData')) : {};
  $: localStorage.setItem('SequencerData', JSON.stringify(sequencerData));

  $: sequence = getSequence(sequencerData);

  /**
   *
   * @param seqData
   */
  function getSequence(seqData) {
    const seq = {};
    let stepsCounter = 0;

    while (stepsCounter < $steps) {
      seq[stepsCounter] = {};

      Config.allNotes.forEach((note) => {
        if (sequencerData[note] && sequencerData[note][stepsCounter]?.checked) {
          seq[stepsCounter][note] = seqData[note][stepsCounter];
        }
      });

      stepsCounter++;
    }

    return seq;
  }

  // Transport Loop
  Tone.Transport.scheduleRepeat(onBeat, '8n');

  /**
   *
   * @param time
   */
  let beat = 0;
  function onBeat(time) {
    beat = beat % $steps;

    Object.keys(sequence[beat]).forEach((key) => {
      $synth.instrument.triggerAttackRelease(key, sequence[beat][key].duration, time);
    });

    beat++;
  }

  $: tw = ClassGroup({
    section: {
      l: 'flex flex-col h-full p-2',
      v: !visible && 'hidden',
    },
    track: {
      l: 'h-full',
      g: 'grid grid-flow-col grid-cols-13 grid-rows-8',
    },
  });
</script>

<section class={tw.section}>
  <SequencerControls />
  <div class={tw.track}>
    {#each Config.allNotes as note}
      {#if $octave === Number(note.replace(/^\D+/g, ''))}
        <Track
          {beat}
          bind:cells={sequencerData[note]}
          {note}
          on:updateSequencerData={() => (sequencerData = sequencerData)}
        />

        {#if note.charAt(0) === 'B'}
          <Track
            {beat}
            bind:cells={sequencerData[`C${Number(note.replace(/^\D+/g, '')) + 1}`]}
            note={`C${Number(note.replace(/^\D+/g, '')) + 1}`}
            on:updateSequencerData={() => (sequencerData = sequencerData)}
          />
        {/if}
      {/if}
    {/each}
  </div>
</section>
