<script>
  import ClassGroup from 'classgroup';

  // Context
  import Instrument from './synthControls/Instrument.svelte';

  // Self props
  export let visible;

  $: tw = ClassGroup({
    section: {
      l: 'flex flex-col h-full p-2 gap-x-2',
      v: !visible && 'hidden',
    },
  });
</script>

<section class={tw.section}>
  <Instrument />
</section>
