<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  // Components
  import { UI } from '../library/utils';

  // Context
  import { MainCtx } from './Main.svelte';
  let { steps, stepsPage } = getContext(MainCtx);

  // Self props
  export let cells = {};
  export let beat;
  export let note;

  $: displayCells = Object.keys(cells).reduce((displayCells, cell, index) => {
    // filter cells belonging to the current stepsPage
    if (!(index + 1 >= $stepsPage * 8 - 7 && index + 1 <= $stepsPage * 8)) return displayCells;

    return {
      ...displayCells,
      [cell]: cells[cell],
    };
  }, {});

  let defaultNoteDuration = '16n';
  const duration = ['1n', '2n', '4n', '8n', defaultNoteDuration];

  function setSequencerSteps(steps) {
    for (let index = 0; index < Array(Number(steps)).length; index++) {
      cells[index] = cells[index] || {
        checked: false,
        duration: defaultNoteDuration,
      };
    }
  }

  $: setSequencerSteps($steps);

  const tw = ClassGroup({
    pad: 'flex items-center justify-center p-2', // if edit button: relative
    padActive: 'bg-red-50',
    input: {
      ui: UI.button,
      l: 'h-full w-full',
      p: 'appearance-none bg-gray-100 border-gray-200 rounded-sm',
      i: 'checked:bg-gray-200 checked:border-gray-300',
    },
    select: {
      l: 'm-auto',
      p: 'border text-xs text-center',
      i: 'hidden',
    },
    edit: {
      p: 'bg-white border-2 border-gray-200 rounded-sm text-gray-400 text-2xs uppercase p-0.5',
      pos: 'absolute bottom-1 left-1/2 -translate-x-1/2',
      i: 'outline-none focus:outline-none hover:text-gray-500 hover:border-gray-500',
      active: 'active:bg-gray-500 active:text-white',
      o: 'ring-1 ring-gray-300',
    },
    pencil: 'fill-current h-2 w-2',
  });
</script>

{#each Object.entries(displayCells).reverse() as [step, { checked }] (`${note}_${step}`)}
  <div class="{tw.pad} {beat - 1 == step ? tw.padActive : ''}">
    <!-- <button class={tw.edit}>
      <svg class={tw.pencil}>
        <use xlink:href="/icons.svg#pencil" xmlns:xlink="http://www.w3.org/1999/xlink" />
      </svg>
    </button> -->

    <input
      class={tw.input}
      type="checkbox"
      {checked}
      on:input={(e) => {
        checked = e.target.checked;
        dispatch('updateSequencerData');
      }}
    />

    <!-- svelte-ignore a11y-no-onchange -->
    <!-- <select
        class={tw.select}
        on:change={(e) => {
          cells[i].duration = e.target.value;
        }}
        value={defaultNoteDuration}
      >
        {#each duration as time}
          <option value={time}>{time}</option>
        {/each}
      </select> -->
  </div>
{/each}
