<script>
  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  const { synth } = getContext(MainCtx);

  // Components
  import SynthSelect from './SynthSelect.svelte';

  $: _synth = synth;
  $: synthOptions = $_synth.instrument.get();

  // Synths
  import AMSynth from '../synths/AMSynth.svelte';
  import DuoSynth from '../synths/DuoSynth.svelte';
  import FMSynth from '../synths/FMSynth.svelte';
  import MembraneSynth from '../synths/MembraneSynth.svelte';
  import MetalSynth from '../synths/MetalSynth.svelte';
  import MonoSynth from '../synths/MonoSynth.svelte';
  import PluckSynth from '../synths/PluckSynth.svelte';
  import Synth from '../synths/Synth.svelte';

  const synths = {
    AMSynth,
    DuoSynth,
    FMSynth,
    MembraneSynth,
    MetalSynth,
    MonoSynth,
    PluckSynth,
    Synth,
  };
</script>

<SynthSelect on:synthUpdated={(event) => (_synth = event.detail)} />
<svelte:component this={synths[$_synth.instrument.name]} {...synthOptions} />
