<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { createEventDispatcher, getContext } from 'svelte';
  const dispatch = createEventDispatcher();

  // Config
  import Config from '../../library/Config';

  // Context
  import { MainCtx } from '../Main.svelte';
  const { synth, synthType } = getContext(MainCtx);

  const tw = ClassGroup({
    label: 'flex gap-x-2',
  });
</script>

<label class={tw.label} for="instrument">
  <span>Instrument</span>
  <!-- svelte-ignore a11y-no-onchange -->
  <div>
    <select
      name="instrument"
      on:change={(event) => {
        $synthType = event.target.value;
        $synth.updateInstrument($synthType);
        localStorage.setItem('synthType', $synthType);
        event.target.blur();
        dispatch('synthUpdated', synth);
      }}
    >
      {#each Config.synths as option}
        <option value={option} selected={$synthType === option}>
          {option}
        </option>
      {/each}
    </select>
  </div>
</label>
