<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  const { gain } = getContext(MainCtx);

  let gainVal = gain.get().gain;

  const tw = ClassGroup({
    box: {
      l: 'flex items-center justify-center',
      p: 'text-xs',
    },
    label: 'flex items-center space-x-2',
    gain: {
      name: 'gain',
      l: 'h-4 w-128',
      p: 'appearance-none bg-gray-700 rounded-sm',
      o: 'focus:outline-none',
    },
  });
</script>

<div class={tw.box}>
  <label class={tw.label} for="gain">
    <span>Gain</span>
    <input
      class={tw.gain}
      id="gain"
      type="range"
      min="0"
      max="1"
      step="0.01"
      bind:value={gainVal}
      on:change={(event) => {
        gain.set({ gain: event.target.value });
        localStorage.setItem('gain', event.target.value);
      }}
    />
    <span>{(gainVal * 100).toFixed(0)}</span>
  </label>
</div>

<style>
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input.gain::-webkit-slider-thumb {
      appearance: none;
      background-color: #fff;
      cursor: ew-resize;
      height: 1rem;
      width: 0.25rem;
      -webkit-appearance: none;
    }
  }
</style>
