<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  const { mode } = getContext(MainCtx);

  const tw = ClassGroup({
    modePills: {
      l: 'flex overflow-hidden text-xs',
      p: 'border border-gray-500 rounded-sm',
    },
    modeButton: {
      l: 'flex items-center px-2 pb-0.5',
      p: 'border-gray-500 first:border-r',
      o: 'focus:outline-none',
    },
    modeButtonActive: 'bg-gray-700 text-white',
    indicator: 'block rounded-full h-1.5 w-1.5 mr-1',
    indicatorActive: 'bg-orange-500',
    indicatorInactive: 'bg-gray-800',
  });
</script>

<div class={tw.modePills}>
  <button
    class="{tw.modeButton} {$mode === 'sequencer' ? tw.modeButtonActive : ''}"
    on:click={() => {
      $mode = 'sequencer';
      localStorage.setItem('mode', $mode);
    }}
  >
    <!-- <span class="{tw.indicator} {tw.indicatorActive}" /> -->
    Sequencer
  </button>
  <button
    class="{tw.modeButton} {$mode === 'synthesizer' ? tw.modeButtonActive : ''}"
    on:click={() => {
      $mode = 'synthesizer';
      localStorage.setItem('mode', $mode);
    }}
  >
    <!-- <span class="{tw.indicator} {tw.indicatorInactive}" /> -->
    Synthesizer
  </button>
</div>
