<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  let { octave } = getContext(MainCtx);

  // Components
  import { UI } from '../../library/utils';

  const tw = ClassGroup({
    box: {
      l: 'flex gap-1 items-center justify-around h-full w-full px-2',
      p: 'border-black',
    },
    button: {
      ui: UI.button,
      l: 'flex items-center justify-center h-full w-full',
      p: 'border rounded-sm',
    },
    chevron: {
      l: 'h-4 w-4',
      p: 'fill-current text-gray-600',
    },
    chevronRotated: 'rotate-180',
  });
</script>

<div class={tw.box}>
  <button
    class={tw.button}
    on:click={() => {
      $octave === 1 ? 1 : $octave--;
      localStorage.setItem('octave', Number($octave));
    }}
  >
    <svg class="{tw.chevron} {tw.chevronRotated}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#chevron" />
    </svg>
  </button>
  <button
    class={tw.button}
    on:click={() => {
      $octave === 8 ? 8 : $octave++;
      localStorage.setItem('octave', Number($octave));
    }}
  >
    <svg class={tw.chevron}>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#chevron" />
    </svg>
  </button>
</div>
