<script>
  import * as Tone from 'tone';
  import ClassGroup from 'classgroup';

  let isPlaying = false;
  function onClick() {
    Tone.Transport.toggle();
    isPlaying = !isPlaying;
  }

  const tw = ClassGroup({
    button: {
      l: 'w-8 h-8',
      p: 'text-gray-800 rounded-full transition-colors',
      i: 'hover:text-gray-900 focus:outline-none',
    },
    buttonRed: 'text-red-500',
    svg: 'w-8 h-8',
  });
</script>

<button class={tw.button} on:click={onClick}>
  {#if isPlaying}
    <svg class={tw.svg}>
      <use xlink:href="/icons.svg#stop" xmlns:xlink="http://www.w3.org/1999/xlink" />
    </svg>
  {:else}
    <svg class={tw.svg}>
      <use xlink:href="/icons.svg#play" xmlns:xlink="http://www.w3.org/1999/xlink" />
    </svg>
  {/if}
</button>
