<script>
  import ClassGroup from 'classgroup';

  // Components
  import Tempo from './Tempo.svelte';
  import Playback from './Playback.svelte';
  import Steps from './Steps.svelte';

  const tw = ClassGroup({
    bar: 'flex px-2 py-1',
    colLeft: 'flex items-center space-x-4',
    colRight: 'flex items-center ml-auto',
  });
</script>

<div class={tw.bar}>
  <div class={tw.colLeft}>
    <Playback />
    <Tempo />
  </div>
  <div class={tw.colRight}>
    <Steps />
  </div>
</div>
