<script>
  import ClassGroup from 'classgroup';

  // Svelte
  import { getContext } from 'svelte';

  // Context
  import { MainCtx } from '../Main.svelte';
  let { steps, stepsPage } = getContext(MainCtx);

  // Components
  import { UI } from '../../library/utils';

  const options = [8, 16, 32];

  const tw = ClassGroup({
    container: {
      l: 'flex items-center space-x-2 ml-auto',
      p: 'text-xs',
    },
    steps: 'flex items-center space-x-2',
    selectContainer: {
      l: 'p-px',
      p: 'bg-gray-200 border border-gray-400 rounded-sm shadow',
    },
    select: {
      i: 'cursor-pointer',
      l: 'flex items-center justify-center h-6 w-6',
      p: 'appearance-none bg-gray-800 font-mono text-yellow-500 rounded-sm',
      o: UI.noOutline,
    },
    stepsPager: {
      custom: 'steps',
      l: 'flex items-center space-x-1',
    },
    input: {
      custom: 'stepsPage',
      ui: UI.button,
      l: 'flex items-center justify-center h-6 w-6',
      p: 'appearance-none bg-gray-100 border-gray-200 rounded-sm text-gray-500',
      i: 'checked:bg-amber-50 checked:border-gray-200 checked:text-amber-500',
    },
  });
</script>

<div class={tw.container}>
  <label class={tw.steps} for="steps">
    <span>Steps</span>
    <!-- svelte-ignore a11y-no-onchange -->
    <div class={tw.selectContainer}>
      <select
        class={tw.select}
        name="steps"
        style="text-align-last: center;"
        on:change={(event) => {
          $steps = event.target.value;
          localStorage.setItem('steps', $steps);

          // Resets page
          if ($stepsPage * 8 > $steps) {
            $stepsPage = 1;
          }
        }}
      >
        {#each options as option}
          <option value={option} selected={$steps == option || undefined}>
            {option}
          </option>
        {/each}
      </select>
    </div>
  </label>

  <label class={tw.stepsPager} for="stepsPage">
    <span>Page</span>
    {#each Array(Number($steps / 8)) as _, i}
      <input
        class={tw.input}
        id="stepsPage{i + 1}"
        name="stepsPage"
        type="radio"
        checked={i + 1 === Number($stepsPage)}
        value={i + 1}
        on:input={(e) => ($stepsPage = e.target.value)}
      />
    {/each}
  </label>
</div>

<style>
  .steps {
    counter-reset: steps;
  }
  .stepsPage::before {
    counter-increment: steps;
    content: counter(steps);
  }
</style>
