<script>
  import * as Tone from 'tone';
  import ClassGroup from 'classgroup';

  // Config
  import Config from '../../library/Config';

  // Self props
  export const bpm = Config.bpm;

  const tw = ClassGroup({
    label: {
      l: 'flex items-center justify-center space-x-2 text-xs',
    },
    tempo: {
      name: 'tempo',
      l: 'pl-1 w-14',
      p: 'bg-gray-800 font-mono text-yellow-500 text-base rounded-sm',
    },
  });
</script>

<label class={tw.label} for="bpm">
  <span>BPM</span>
  <input
    id="bpm"
    class={tw.tempo}
    type="number"
    value={bpm}
    on:input={(e) => (Tone.Transport.bpm.value = e.target.value)}
  />
</label>
