<script lang="ts">
  import ClassGroup from 'classgroup';

  import Main from './components/Main.svelte';

  const tw = ClassGroup({
    main: 'h-screen w-screen',
  });
</script>

<main class={tw.main}>
  <Main />
</main>

<style global lang="postcss">
  /* Tailwind */
  /* purgecss start ignore */
  @tailwind base;
  @tailwind components;
  /* purgecss end ignore */
  @tailwind utilities;

  /* helps debugging messed up class assigments */
  .undefined,
  .false {
    border: 1px solid red !important;
  }
</style>
